/* body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 1fr 1fr 0.7fr 0.5fr 1fr;

} */

.dropdown{
    position: relative;
    display: inline-block;
    padding: 10px;
}
.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #f9f9f9;
    width: 160px;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    /* position: relative; */
    top: 40px;

  }
.dropdown-content a{
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
   
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content
{
    display: block;
    width: 200px;
}
.dropdown:hover{
    color: #007FFF;
    text-decoration: underline;
    text-decoration-color: #007FFF;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
    cursor: pointer;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #696969;
}
#logo{
    margin-left: -10px;
}
/* .menuText{
    
} */
.dropdown-button{
    font-weight: bold;
}

/* Section One styling */

.header1{
    text-align: center;
    font-size:xx-large;
    color: #007FFF;
    font-weight: bold;
    padding-top: 5%;
    font-family:Arial, Helvetica, sans-serif
}
.header2{
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: #606060;
}
.parSec1{
    width: 50%;
    padding-left: 22%;
    padding-right: 22%;
    text-align: center;
    font-size:large;
    text-justify: distribute;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 100%;
    color: #696969	;
}

.line-1 {
    height: 1px;
    background: black;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 7px;
    margin-bottom: 19px;
  }

  .videoSec1{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .bold{
    font-weight: bold;
    color: #303030;
  }

  .leftSide{
    width: 30%;
    float:left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: rgba(175, 174, 174, 0.5);
    height: 400px;
    padding: 30px;
    border-radius: 10%;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 100%;
    color: #1d1c1c	;
    font-size:large;
    /* padding: 50px; */
  }
.eighty{
    font-size:xx-large;
    color: #007FFF;
    font-weight: bold;
    padding-top: 5%;
}
.bluetextSec2{
    color: #007FFF;
    padding-bottom: 10%;
}
.headerSect2{
    font-size:xx-large;
    color: #1d1c1c;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
}
.textSec2{
padding-bottom: 7%;
}
.line-2{
    height: 5px;
    background: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 19px;
}

.rightside{
   float: right;
   display: block;
   width: 30%;
   padding-top: 20%;
  }  
  .sec2quote{
    float: right;
    margin-top: 2%;
    margin-right:10%;
    width: 20%;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 100%;
    color: #1d1c1c	;
    /* border: solid black; */
  }
  .sec2link{
    float:  right;
    margin-right:10%;
    margin-top:1%;
  }
  .imageSec2{
    width: 15%;
    border-radius: 50%;
  }
  .section3
  {
    margin-top: 20px;
    display:inline-flex;
    margin-right: 20px;
  }
  .firstcolumn{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .secondcolumn{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .thirdcolumn{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
 .imgTable{
    width: 300px;
  } 
  .imgTable:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  .textSectionTwo{
    width: 300px; 
    background-color:	#DCDCDC;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 100%;
    color: #1d1c1c	;
    font-size:large;
  }
  .textSectionTwo:hover{
    background-color:	#888686;
    color: #DCDCDC;
    cursor: pointer;
  }
  footer{
    background-color: #606060;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #DCDCDC;
    animation-name: footerAnimation;
    animation-duration: 20s;
  }
  @keyframes footerAnimation {
    0%   {background-color: #DCDCDC; color:  #606060;}
    10%  {background-color:#606060; color: #DCDCDC;}
    20%  {background-color: #DCDCDC; color:  #606060;}
    30% {background-color:#606060; color: #DCDCDC;}
    40% {background-color: #DCDCDC; color:  #606060;}
    50% {background-color:#606060; color: #DCDCDC;}
    60% {background-color: #DCDCDC; color:  #606060;}
    70% {background-color:#606060; color: #DCDCDC;}
    80% {background-color: #DCDCDC; color:  #606060;}
    90% {background-color:#606060; color: #DCDCDC;}
    100% {background-color: #DCDCDC; color:  #606060;}
  }
